@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Roboto&display=swap');
body
{
    display: block;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 249, 249);
    color: #ffffff;
    margin:0px;
    
 }

  h1
  {
      margin: 16px 17px ;
      margin-left: 0px;
      font-size:6em;
  }

  h2 
  {
    display: block;
    font-size: 2.5em;
    margin: 0 auto;
    font-weight: bold;
    text-align: justify;
}
h3{
    font-size: 35px;
    margin: 0px;
    color: #3A90DB;
    margin-bottom: 5px;
}
h4{
    font-size:2em;
    margin-bottom:10px ;
   
}
.Ma-col{
    font-size: 30px;
}
#Statu-paragraphe{
    padding: 0px;
    margin-left:100px;
    width:380px ;
    height: 100px;
}

 header
 {
      display: flex;
      background-color: black;
      height:auto ;
 }

 header #header
 {

     display: block;
     width: 90%;
     height:Auto;
     padding-bottom: 0px;

 }

 #circle
 {
      position: relative;
      margin-left:50% ;
      background-color: #E0A33E;
      margin-left: 0px;
      width: 320px;
      height: 644px;
      border-bottom-left-radius:  324px;
      border-top-left-radius:  324px;
      animation-name: example;
      animation-duration: 4s;
 

}
@keyframes example {
    0% {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:0px; top:0px;}
    50%  {background-color:blue; left:0px; top:0px;}
    75%  {background-color:green; left:0px; top:0px;}
    75%  {background-color:hsl(286, 72%, 24%); left:0px; top:0px;}
    100% {background-color:#E0A33E; left:0px; top:0px;}
  }
/*
width: 100px;
  height: 100px;
  left: 100%;
  background-color: red;
  position: relative;
  
  border-radius:50%;
}

@keyframes example {
  0% {background-color:red; rigth:0px; top:0px;}
  25%  {background-color:yellow; left:20px; top:0px;}
  50%  {background-color:blue; left:300px; top:500px;}
  75%  {background-color:green; left:0px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:100%; top:0px;}
}
*/
header #header .Nav .res
 {
     width: 25px;
     height: 25px;
     margin:17px;
     background-color: red
     margin-left:0px ;
     margin-right: 10px;
 }
 header #header .Nav
{
    font-size: 20px;
    padding-top: 25px;
     display:flex ;
     height:50px ;
     margin: auto;
     margin-left: 25%;
     width: 70%;
     margin-top: px;
 }
 
 header #header .Nav ul.menu
 {
     height: 50%;
     display: flex;
     width:30%;
     margin-left:30% ;
     padding: auto;
     font-size: 1em;
     justify-content: space-between;
    
 }
  hr {
    display: block;
    margin-left: 20px;
    margin-right: 3px;
    margin-top: 15px;
    border-style: inset;
    height:30px ;
    border-width: 1px;
 }

 li
 {
     list-style-type: none;
     color: white;
     font-weight: bold;
 }

 a
  {
    text-decoration: none;
    color: white;
    
 }
 
 a:hover{
     color: #E0A33E;
    border-radius: 5px;

 }

 header #header .Nav .Logo{
     width:40px ;
     height: 30px;
     margin-top: 10px;
 }
 header #header .Person .presentation
 {
     display: flex;
     width:30em;
     height: auto;
     margin-left:0px;

 }
 

 header #header .Person .Status
 {
     background-color:ed;
     width:45em;
     height: auto;
     text-align: justify;
     padding-top: 0px;
 }
  .image{
      width: 373px;
      height:440px ;
  }
 

 header #header .Person .presentation .Name
 {
     width:auto;
     height: 90px;
     margin-top: 336px;

 }

 header #header .Person
 {
    
    display: flex;
    flex-direction:row-reverse;
    margin-top:130px;
    width:75em;
    height: auto;
    margin-left: 25%;
    padding-right:0px ;

 }

 section
 {
     display: block;
 }

  #sectc{
    background-color:white;
    padding:10px;
 }

 #sectc .service{
    margin-top: 10px;
     margin: auto;
     width: 50%;
     color: black;
 
 }
 
 #sectc #sect-service{
     width:auto;
     height:auto;
     margin: auto;
     margin-left: 80px;
     
     
 }

 #sectc #sect-service .conteneur
 {
     display: inline-block;
     justify-content: space-between;
     height: 24em;
     width: 17em;
     margin-right: 80px;
     padding-bottom: 50px;
     padding-top: 20px;
     color: black;
     padding-bottom: 50px;
     padding-top: 20px;

    
 }
 #sectb .service{
    margin-top: 30px;
    margin: auto;
    width: 50%;
    color: black;

 }
 #sectb .service .porto p{
     margin-top:10px ;
     font-size: 30px;
 }

 #sectc #sect-service .conteneur .rec
 {
    border: solid 4px #541169 ;
    width:auto;
    height:85% ;
    background-color: white ;
    border-radius: 7px;
    color: black; 
}
.rec-img{
    float: inline-end;
    margin-top:30px;
    width: 90px;
    height: auto;
}
.Middle{
    margin-top:60px;;
    width: 90px;
    height: 60px;

}
.text p{
    font-size:30px ;
       
    }
.rec-img-text{
    font-size:30px;
}
.decompt{
    font-size: 40px;
    color: #E0A33E;
    display: block;
    margin-bottom: 15px;
    margin-bottom: 0px ;
}
.decompt-text{
    margin-top: 0px;
    font-size:29px ;

}

#sectb
{
    background-color: rgb(34, 33, 33);
    padding: 20px 0px 0px;
    height: auto;

}

#sectb .main
{
    font-size: 20px;
    justify-content: space-between;
    width:auto;
    margin-bottom: 20px;
}
#sectb .main .lien{
    display: inline-block;
    margin-right: 20px;
    margin: 10px;

}

.porto
{
    color: white;
}

#sectb .portofolio
{
    display: flex;
    grid-column-gap:px ;
    flex-wrap: wrap;
    margin: auto;
    width: 52%;
    /*background-color: #541169;
    display: flex;
    padding-top: 30px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    width: auto;
    justify-content: space-between;
    height: auto;*/ 

}
#sectb .portofolio > div{
    margin: auto;
}
#secta{
    background-color: #ffffff;
}

#secta #sms{
    width: auto;
    height: auto;
    margin: auto;
}


#secta #sms .Pam {
    font-size: 20px;
    background-color:#6d4b14 ;
    width: 35%;
    height: 136px;
    margin-left:28% ;
    padding: auto;
    border: 2px hsl(286, 72%, 24%) solid;
    border-radius:16px;
    margin-top: 50px;

}

#secta #sms .leslie {
    font-size: 20px;
    background-color:#6d4b14 ;
    width: 45%;
    height: 136px;
    margin-left: 28%;
    padding: auto;
    border: 2px hsl(286, 72%, 24%) solid;
    border-radius:16px;
    margin-top: 50px;

}


#secta #sms .Pam .mg{
    float: left;
    margin-left: 0px ;
    left: 0px;
    right: 0px;
    margin-top: 10px;
    margin-left: -20px;
    margin-top: -24px;
}
.formulaire-contact h4 {
    font-size: 3.5em;
    margin: 10% auto;
    margin-top: 0px;

    height: 50px;
}
.formulaire-contact p{
   margin-top: 0px;
   font-size:1.5em;
}

#secta .contact{ 
    width:auto;
    margin-top: 20px;


   
}
#secta .contact .formulaire{
    margin-top: 0px;
    display: inline-block;
    margin-right: 10px;

    padding-top: 5px;
    color: black;
    text-align: justify;
    margin-bottom: auto;
}

form{
    background-color:ed;
    width: 100%;
    margin-bottom: 0px;
}

input{
    margin-bottom: 15px;
    width: 95%;
    padding-left: 5px;
    height: 40px;
    font-size: 20px;
    background-color:#E5E5E5 ;
    border: 2px black solid;
}

textarea{
    width: 95%;
    font-size: 20px;
    padding-left: 5px;
    height:106px ;
    background-color:#E5E5E5 ;
    border: solid;
}

button{
    display: flex;
    margin-top: 10px;
    margin-left:40% ;
    padding:5px 0px 5px 15px ;
    width: 83px;
    height: 30px;
    background-color: #E0A33E;
}

#maps{
    display: inline-block;
    width: px;
    height: 414px;
   
}
iframe{
    width:600px; 
    height:490px;
    margin-top: 10Px;
   
}

footer{
    display: block;
    background-color:#46454D ;
    padding-top:5px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 20px;
    width: auto;
    height:auto;
}

