@media screen and (max-width:1739px){
    .menu{
        display: flex;
        width: 70%;
        margin: auto;
        padding: 0px;
    }
    hr {
        border: none;
        border-bottom: 3px solid  #E0A33E ; /* Ou border-top */
      }
    
    .Nav{
        margin-left:35% ;
        margin-right: 0px;
    }
    @media screen and (max-width:1750px ) and (min-width:1597px){
        .Nav
    {
        padding-top: 30px;
         display:flex ;
         height:50px ;
         margin: auto;
         margin-left: 25%;
         width: 70%;
         margin-top: px;
     }
     #circle {
        position: absolute;
        margin-left: 83.7%;
        margin-top: 1px;
        background-color: #E0A33E;
        width: 242px;
        height: 555px;
        border-bottom-left-radius: 233px;
        border-top-left-radius: 233px;
        animation-name: example;
    }
     
     .menu
     {
         padding-right: 20Px;
        display: flex;
        padding-bottom: 20px;
        margin-left: 40%;
        width: 30%;
        justify-content: space-between;
     }
    
        
    }
      
    }
    @media screen  and (max-width:1597px) {
        .Nav{
            margin: auto;
            display: inline-block;
        }
        .menu{ 
            
            padding-bottom: 5px ;
              
         }
         .Person{
    
             margin: auto;
         }
         .service {
            margin: auto;
            width: auto;
            color: black;
        }
        #Sect1 {
            width: auto;
            height: auto;
            margin:auto;
        }
        .tof1-item-img{
            width: 100%;
        }
        .portofolio{
            padding-left: 0px;
            grid-row-gap: 10px;
        }
        
        
    }
    @media screen  and (max-width:1100px){
    .Person
     {
    
        display: block;
        margin: auto;
        margin-top: 10px;
        width:60%;
        height: auto;
     }
     .Pam {
        background-color: #E0A33E;
        width: 70%;
        height: auto;
        margin: auto;
        border: 2px hsl(286, 72%, 24%) solid;
        border-radius: 16px;
        margin-top: 50px;
    }
    
    #circle
     {
        display: none;
     
    
    }
    }
    @media screen  and (max-width:669px){
        body{
            font-size: 100%;
        }
        h1{
            font-size:xx-large;
            margin-left: 5%;
        }
        .Person
         {
        
            display: block;
            margin: auto;
            margin-top: 10px;
            width:100%;
            height: auto;
         }
    
         .presentation
     {
         display: flex;
         width:auto;
    
     }
    
    #mod {
       width:270px ;
    }
    
    }
    @media screen and (max-width:596px) {
        .contact{
            margin: auto;
            padding: auto;
            padding-left: 0px;
        }
        #maps{
            width:100%;
            padding-left: 0px;
    
        }
        iframe{
            width: 90%;
        }
        form {
            display: block;
            margin:auto;
            width: 100%;
        }
        input,textarea{
            width: 66%;
    
        }
        .conteneur
     {
         display: inline-block;
         height: 70%;
         width:70%;
         padding-bottom: 50%;
         padding-top: 50%;
         color: black;
         padding-bottom:50%;
         padding-top: 50%;
    
        
     }
     .formulaire{
         margin-bottom: 5px;
         text-align: center;
     }
     .mg {
         float: none;
        margin-left: 0px;
        left: 0px;
        right: 0px;
        margin-top: 10px;
        
    }
    .Pam {
        background-color: #E0A33E;
        width: 95%;
        height: auto;
        margin: auto;
        border: 2px hsl(286, 72%, 24%) solid;
        border-radius: 16px;
        margin-top: 50px;
    }
    h2 {
        display: block;
        font-size:90%;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        text-align: justify;
    }
    #header {
        display: block;
        width: auto;
        height: Auto;
        padding-bottom: 0px;
    }
    .Status {
        width: auto;
        height: auto;
        /* text-align: justify; */
        padding-top: 0px;
    }
    .menu{
        display: flex;
        padding-bottom: 20px;
        width: 100%;
    
    }
    #p
    {
        width:50%;
        margin-right: 20%;
    }
    
     
        
    }
    @media screen and (max-width:390px) {
        input {
            margin-bottom: 15px;
            height: 37px;
            background-color: #E5E5E5;
            border: 2px black solid;
        }
        .formulaire {
            width: 100%;
            margin-bottom: 5px;
        }
        button {
            display: flex;
            margin-top: 10px;
            margin-left: 10%;
            padding: 5px 0px 5px 15px;
            width: 83px;
            height: 30px;
            background-color: #E0A33E;
        }
        .bnt{
            padding-left: 25%;
    
        }
        .image{
            width: 70%;
            height: 70%;
        }
        h2 {
            display: block;
            font-size: 80%;
            font-weight: bold;
            text-align: justify;
        }
        .Name {
            width: auto;
            height: 30%;
            margin-top: 2px;
        }
        .main {
           margin-left: 10%;
        }
        .tof{
            width: 100%;
        }
        ul.menu {
            display: flex; 
            width: Auto;
        }
        #header {
            margin-left: 5px;
            width: auto;
            height: Auto;
            
            padding-bottom: 0px;
        }
        a{
            font-size: 70%;
        }
        #p{
            display: none;
            /*
            width: auto;
            border: 1px solid;
            overflow: auto;
            height: 40px;*/
        }
        
    }