@media screen and (max-width:1750px){
    header #header .Nav .menu{
        display: flex;
        width: 70%;
        margin: auto;
        padding: 0px;
    }
    header #header{     
         margin: auto;
    }
    
    
    hr
    {
        border: none;
        border-bottom: 3px solid  #E0A33E ; /* Ou border-top */
    }
    
    header #header .Nav
    {
        margin-left:35% ;
        margin-right: 0px;
    }
    #circle
    {
       display: none;
    
   
   }
}
@media screen and (max-width:1750px ) and (min-width:1597px){
    header #header .Nav
    {
    padding-top: 30px;
     display:flex ;
     height:50px ;
     margin: auto;
     margin-left: 25%;
     width: 70%;
     margin-top: px;
 }
 #circle {
    position: absolute;
    margin-left: 83.7%;
    margin-top: 1px;
    background-color: #E0A33E;
    width: 242px;
    height: 555px;
    border-bottom-left-radius: 233px;
    border-top-left-radius: 233px;
    animation-name: example;
}
 #sectc #Sect1 {
 padding-left: auto;
}
 
header #header .Nav .menu
 {
     padding-right: 20Px;
    display: flex;
    padding-bottom: 20px;
    margin-left: 40%;
    width: 30%;
    justify-content: space-between;
 }

    
}
    @media screen  and (max-width:1597px) {
        header #header .Nav
        {
            margin: auto;
            display: inline-block;
        }
        header #header .Nav .menu{ 
            
            padding-bottom: 5px ;
              
         }
        header #header .Person
        {
    
             margin: auto;
        }
         #sectc .service 
        {
            margin: auto;
            width: auto;
            color: black;
        }
        #sectc #Sect1 {
            padding-left: 10%;
        }
        .tof1-item-img{
            width: 100%;
        }
        #sectb .portofolio{
            padding-left: 0px;
            grid-row-gap: 10px;
        }
        
        
    }
    @media screen  and (max-width:1200px){
        header #header{
            margin:0px;
        }
    header #header .Person
    {
    
        display: block;
        margin: auto;
        margin-top: 10px;
        width:50%;
        height: auto;
    }
    #secta #sms .Pam {
        
        width: 70%;
        height: auto;
        margin: auto;
        border: 2px hsl(286, 72%, 24%) solid;
        border-radius: 16px;
        margin-top: 50px;
    }
    
    #circle
    {
        display: none;
     
    
    }
    }
    
    @media screen and (max-width:669px){
        #p
        {
            margin: 10px;
        } 
        h1 {
            font-size: xx-large;
            margin-left: 20%;
        }
        header #header .Person
        {
            display: block;
            margin: auto;
            margin-top: 10px;
            width: 90%;
            height: auto;
        }
    
        header #header .Person .presentation
        {
         display: flex;
         width:auto;
    
        }  
        #mod {
            width:270px ;
         }
    }
    
   
    @media screen and (max-width:597px) {
        #secta  .contact{
            margin: auto;
            padding: auto;
            padding-left: 0px;
        }
        #maps{
            width:100%;
            padding-left: 0px;
    
        }
        iframe{
            width: 90%;
        }
        form {
            display: block;
            margin:auto;
            width: 100%;
        }
        input,textarea{
            width: 66%;
    
        }
        #sectc #Sect1 .conteneur {
            display: inline-block;
             height: auto; 
             width: auto;
             margin-right: 15%;
            padding-bottom: 50%;
            padding-top: 50%;
            color: black;
            padding-bottom: 20px;
            padding-top: 20px;
        }
        #secta .contact .formulaire
        {
            margin-bottom: 5px;
            text-align: center;
        }
        #secta #sms .Pam .mg 
        {
            float: none;
           margin-left: 0px;
           left: 0px;
           right: 0px;
           margin-top: 10px;
           
        }
        #secta #sms .Pam 
        {

            height: auto;
            margin: auto;
            border: 2px hsl(286, 72%, 24%) solid;
            border-radius: 16px;
            margin-top: 50px;
        }
        h2 
        {
            display: block;
            font-size:90%;
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
            text-align: justify;
        }
        header #header {
            display: block;
            width: auto;
            height: Auto;
            padding-bottom: 0px;
        }
        header #header .Person .Status {
            width: auto;
            height: auto;
            /* text-align: justify; */
            padding-top: 0px;
        }
        header #header .Nav .menu{
            display: flex;
            padding-bottom: 20px;
            width: 100%;
        
        }
        #p
        {
            width:50%;
            margin: auto;
        }
        header #header .Person .presentation
        {
            display: flex;
            margin-left: 20px;
            width: auto;
        }
    
    }
     
    
    @media screen and (max-width:390px) {
        input {
            margin-bottom: 15px;
            height: 37px;
            background-color: #E5E5E5;
            border: 2px black solid;
            width: 66.6%;
        }
        textarea{
            width:70%;
        }
        #secta .contact  .formulaire {
            width: auto;
            margin: 5px;
            padding: initial;
            margin-bottom: 20px;
        }
        button {
            display: flex;
            margin-top: 10px;
            margin-left: 10%;
            padding: 5px 0px 5px 15px;
            width: 83px;
            height: 30px;
            background-color: #E0A33E;
        }
        .bnt{
           padding-left: 15%;
    
        }
        .image{
            width: 70%;
            height: 70%;
        }
        h2 {
            display: block;
            font-size: 80%;
            font-weight: bold;
            text-align: justify;
        }
        header #header .Person .presentation .Name {
            padding-top: 50%;
            width: auto;
            height: 30%;
            margin-top: 2px;
        }
        .main {
            margin-left: 50px;
        }
        .tof{
            width: 100%;
        }
        header #header .Nav ul.menu{
            display: flex; 
            width: Auto;
        }
        a{
            font-size: 70%;
        }
        #p{
            display: none;
            /*
            width: auto;
            border: 1px solid;
            overflow: auto;
            height: 40px;*/
        }
        
    }