/*@media screen and (max-width:2560px){
    #circle
 {
      position: absolute;
      margin-left: 87.5%;
      background-color: #E0A33E;
      width: 320px;
      height: 644px;
      border-bottom-left-radius:  324px;
      border-top-left-radius:  324px;
      animation-name: example;
      animation-duration: 4s;
 

}

}*/
@media screen and (max-width:1750px){
    header #header .Nav .menu{
        display: flex;
        width: 70%;
        padding: 0px;
    }
    header #header{     
         margin: auto;
    }
    
    
    hr
    {
        border: one;
        border-bottom: 3px solid  #E0A33E ; 
        display: block;
       
    }
    
    header #header .Nav
    {
        margin-left:35% ;
        margin-right: 0px;
    }
    #circle
    {
       display: none;
    
   
   }
  
   
}
@media screen and (max-width:1750px ) and (min-width:1597px){
    header #header .Nav
    {
    padding-top: 30px;
     display:flex ;
     height:50px ;
     margin: auto;
     margin-left: 25%;
     width: 70%;
     margin-top: px;
 }
 #circle {
    position: absolute;
    margin-left: 83.7%;
    margin-top: 1px;
    background-color: #E0A33E;
    width: 242px;
    height: 555px;
    border-bottom-left-radius: 233px;
    border-top-left-radius: 233px;
    animation-name: example;
}
 #sectc #sect-service {
 padding-left: auto;
}
 
header #header .Nav .menu
 {
     padding-right: 20Px;
    display: flex;
    padding-bottom: 20px;
    margin-left: 40%;
    width: 30%;
    justify-content: space-between;
 }

    
}
    @media screen  and (max-width:1597px) {
        header #header .Nav
        {
            margin: auto;
            display: inline-block;
        }
        header #header .Nav ul.menu{ 
            margin: auto;
            width: 500px;
              
         }
        header #header .Person
        {
    
             margin: auto;
        }
         #sectc .service 
        {
            margin: auto;
            color: black;
        }
        
        #sectc #sect-service {
            margin: auto;
            margin-left: 7%;
        }
        .decompt-text {
            margin-top: 0px;
            font-size: 1.5em;
        }
        #sectb .service .porto p {
            margin-top: 10px;
            font-size: 1.5em;
        }
        .tof1-item-img{
           width: auto;
        }
        #sectb .portofolio{
            padding-left: 0px;
            width: 92%;
        }
        hr {
            display: block;
            margin-left: 20px;
            margin-right: 20px;
            overflow: hidden;
            border-style: inset;
            height: 0px; 
            border-width: 1px;
        }
        
        
    }
    @media screen  and (max-width:1200px){
        header #header{
            width:100%;
            margin:0px;
        }
    header #header .Person
    {
        width: 95%;
        margin-top: 10px;
        margin:10px;
        height: auto;
    }
    #secta #sms .Pam {

        width: 70%;
        height: auto;
        margin: auto;
        border: 2px hsl(286, 72%, 24%) solid;
        border-radius: 16px;
        margin-top: 50px;
    }
    .tof1-item-img {
        width: 95%;
        margin-bottom: 10px;
    }
    header #header .Person .Status {

        margin-left: 0px;
        height: auto;
        text-align: justify;
        padding-top: 0px;
    }
    h1 {
        margin: 60px 15px 17px;
        margin-left: 0px;
        font-size: 3em;
    }
    h2 {
        display: block;
        font-size: 2.5em;
        margin: 0 auto;
        font-weight: bold;
        text-align: justify;
    }
    #Statu-paragraphe {
        padding: 0px;
        margin: 0px;
        width: 380px;
        height: 100px;
    }
    
    #circle
    {
        display: none;
     
    
    }
    }
    @media screen  and (max-width:873px){
        h2{
            display: none;
        }
        .tof1-item-img {
            width: 47%;
            margin-bottom: 10px;
        }
        h3 {
            font-size: 1.5em;
            margin: 0px;
            color: #3A90DB;
            margin-bottom: 5px;
        }
    }

    
    @media screen and (max-width:669px){
        #Statu-paragraphe
        {
            margin: 10px;
        } 
        h1 {
            font-size: large;
            margin-top: 0px;
            margin-left: 20%;
        }
        .Ma-col {
            font-size: smaller;
        }
        
        .image{
            width: 80%;
            height: auto;
        }
        header #header .Person
        {
            display: block;
            margin: auto;
            margin-top: 10px;
            width: 90%;
            height: auto;
        }
    
        header #header .Person .presentation
        {
         display: flex;
         width:auto;
    
        }  
        #mod {
            width:270px ;
        }
        #maps{
            display: inline-block;
           margin: auto;
            width: 400px;
            height: 414px;
            margin-bottom: 0px;
           
        }
        iframe{
            width:400px; 
            height:460px;
        }
        .formulaire-contact h4 {
            font-size: 1.5em;
            margin: 10% auto;
            margin-top: 0px;
            height: 50px;
        }
    }
    
   
    @media screen and (max-width:597px) {
        header #header .Nav ul.menu {
            width:81%;
        }
        #secta  .contact{
            margin: auto;
            padding: auto;
            padding-left: 0px;
        }
        #maps{
            width:100%;
            padding-left: 0px;
    
        }
        iframe{
            width: 90%;
        }
        form {
            display: block;
            margin:auto;
            width: 100%;
        }
        input,textarea{
            width: 66%;
    
        }
        #sectc #sect-service .conteneur {
            display: inline-block;
            width:85% ;
            height: 100%;
            margin-right: 15%;
            padding-bottom: 50%;
            padding-top: 50%;
            color: black;
            padding-bottom: 20px;
            padding-top: 20px;
        }
        #secta .contact .formulaire
        {
            margin-bottom: 5px;
            text-align: center;
        }
        #secta #sms .Pam .mg 
        {
            float: none;
           margin-left: 0px;
           left: 0px;
           right: 0px;
           margin-top: 10px;
           
        }
        #secta #sms .Pam 
        {

            height: auto;
            margin: auto;
            border: 2px hsl(286, 72%, 24%) solid;
            border-radius: 16px;
            margin-top: 50px;
        }
        h2 
        {
            display: block;
            font-size:90%;
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
            text-align: justify;
        }
        header #header {
            display: block;
            width: 100%;
            height: Auto;
            padding-bottom: 0px;
        }
        header #header .Person .Status {
            width: auto;
            height: auto;
            /* text-align: justify; */
            padding-top: 0px;
        }
        header #header .Nav .menu{
            display: flex;
            padding-bottom: 20px;
            width: 100%;
        
        }
        #Statu-paragraphe
        {
            width:50%;
            margin: auto;
        }
        header #header .Person .presentation
        {
            display: flex;
            margin-left: 20px;
            width: auto;
        }
        hr
        {
            border: none;
            border-bottom: 3px solid  #E0A33E ; 
            display: block;
            margin: auto;
            overflow: hidden;
            border-style: inset;
            height:0px ;
            border-width: 1px;
        }
        input {
            margin-bottom: 15px;
            height: 37px;
            background-color: #E5E5E5;
            border: 2px black solid;
            width: 66.6%;
        }
        textarea{
            width:70%;
        }
        #secta .contact  .formulaire {
            width: auto;
            margin: 5px;
            padding: initial;
            margin-bottom: 20px;
        }
        button {
            display: flex;
            margin-top: 10px;
            margin-left: 10%;
            padding: 5px 0px 5px 15px;
            width: 83px;
            height: 30px;
            background-color: #E0A33E;
        }
        .bnt{
           padding-left: 15%;
    
        }
        .image{
            width: 80%;
            height: auto;
        }
       
        h2 {
            display: block;
            font-size: 80%;
            font-weight: bold;
            text-align: justify;
        }
        header #header .Person .presentation .Name {
            padding-top: 50%;
            width: auto;
            height: 30%;
            margin-top: 2px;
        }
        #sectb .main {
            font-size: 20px;
            justify-content: space-between;
            width: 85%;
            margin-bottom: 20px;
        }
        .tof{
            width: 100%;
        }
        header #header .Nav ul.menu{
            display: flex; 
        }
        a{
            font-size: 70%;
        }
        #Statu-paragraphe, .decompt-text,  #sectb .service .porto p{
            display: none;
            
        }
        
    }